
body{background-color:white;
font-size:100%;}

a:link {color:#5BC0DE;}    /* unvisited link */
a:visited {color:#5BC0DE;} /* visited link */
a:hover {color:#5BC0DE;}   /* mouse over link */
a:active {color:#5BC0DE;}  /* selected link */

p{
font-family:"Helvetica";
font-size:1.5em;
color:#b2b2b2;}

p.trans{
font-family:"Helvetica";
font-size:1.5em;
color:#FFFFFF;}

p.mini{
font-family:"Helvetica";
font-size:1.0em;
color:#b2b2b2;}

h1{
font-family:"Helvetica";
font-size:1.7em;
color:#b2b2b2;}

.with-action:hover {
    cursor: pointer;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
